/* choose theme */
/* @import "themes/catppuccin-frappe.css"; */
@import "themes/bamboo-vulgaris.css";

* {
	border: none;
	border-radius: 0rem;
	font-family: FiraCode Nerd Font, Fira Code;
	font-size: 13px;
	min-height: 0;
}

window#waybar {
	background-color: @waybar-bg;
	color: @waybar-title;
}

#window,
#workspaces {
    margin: 0 4px;
}

tooltip {
	background-color: @waybar-bg-hl;
	border: 1px solid @waybar-tt-border;
}

tooltip label {
	color: @waybar-text;
}

button:hover {
	background: inherit;
}

#workspaces button {
	padding: 0px 6px;
	color: @waybar-text;
}

#workspaces button:hover {
  background-color: @waybar-bg-hl;
	border-bottom: 3px solid @waybar-ws-hover-border;
}

#workspaces button.focused {
	background-color: @waybar-bg-hl;
	border-bottom: 3px solid @waybar-ws-focused-border;
}

#workspaces button.urgent {
	background-color: @waybar-urgent-bg;
	color: @waybar-urgent-text;
}

#custom-power,
#custom-reboot,
#custom-sleep {
	background-color: @waybar-bg-hl;
	padding: 6px 12px;
	margin: 0px 0px;
}

#custom-power {
	background-color: @waybar-urgent-bg;
	color: @waybar-urgent-text;
}

#custom-reboot {
	color: @waybar-c3;
}

#custom-sleep {
	color: @waybar-c2;
}

/* Modules right */
#network,
#bluetooth,
#pulseaudio,
#memory,
#cpu,
#battery,
#clock {
	padding: 6px 12px;
	margin: 0px 0px;
}

#network {
	color: @waybar-c1;
	box-shadow: inset 0 -3px @waybar-c1;
}

#cpu {
	color: @waybar-c2;
	box-shadow: inset 0 -3px @waybar-c2;
}

#memory {
	color: @waybar-c1;
	box-shadow: inset 0 -3px @waybar-c1;
}

#bluetooth {
	color: @waybar-c2;
	border-bottom: 3px solid @waybar-c2;
}

#clock {
	color: @waybar-c1;
	border-bottom: 3px solid @waybar-c1;
}

#battery {
	color: @waybar-c3;
	border-bottom: 3px solid @waybar-c3;
}

#battery.charging {
	color: @waybar-c3;
}

#battery.warning:not(.charging) {
  background-color: @waybar-urgent-bg;
	color: @waybar-urgent-text;
	border-bottom: 3px solid @waybar-urgent-text;
}

#pulseaudio {
	color: @waybar-c3;
	border-bottom: 3px solid @waybar-c3;
}
