@import "frappe.css";

* {
  font-family: "Fira Code";
  font-size: 14px;
  min-height: 0;
  padding: 2px;
}

#waybar {
  background-color: @base;
  color: @text;
}

#workspaces {
}

#workspaces button {
  color: @text;
}

#workspaces button.active {
  color: @peach;
}

#workspaces button.focused {
  color: @pink;
}

#workspaces button:hover {
  background-color: @surface0;
  color: @sky;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

.tooltip {
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    color: #ffffff; /* White text color */
    padding: 10px; /* Add some padding */
    border-radius: 5px; /* Rounded corners */
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
