@import "frappe.css";

* {
  border: none;
  border-radius: 0rem;
  font-family: FiraCode Nerd Font, Fira Code;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
}

/* Workspaces */
#workspaces button {
  all: initial;
  min-width: 0;
  padding: 6px 12px;
  margin: 6px 3px;
  background-color: @base;
  color: @text;
}

#workspaces button.focused {
  color: @base;
  background-color: @pink;
}

#workspaces button:hover {
  background-color: @surface0;
  color: @sky;
}

/* Modules left */
#custom-power,
#custom-reboot,
#custom-sleep {
  background-color: @surface0;
  padding: 6px 12px;
  margin: 6px 3px;
}

#custom-power {
  background-color: @red;
  color: @base;
}

#custom-reboot {
  color: @yellow;
}

#custom-sleep {
  color: @blue;
}

/* Modules right */
#network,
#bluetooth,
#pulseaudio,
#memory,
#cpu,
#battery,
#clock {
  background-color: @surface0;
  padding: 6px 12px;
  margin: 6px 3px;
}

#bluetooth {
  color: @blue;
}

#clock {
  color: @blue;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#pulseaudio {
  color: @yellow;
}
